<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614068426482-r832tc7eg50lt0epnd5ufbo7sud581fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614068426482-r832tc7eg50lt0epnd5ufbo7sud581fe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614068426482-jm6u7fu1c3dm8oqqivka68sc6mpd9uud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHD4ZCPyD7rM6afhaNB35kcsVWKZ1rujs</string>
	<key>GCM_SENDER_ID</key>
	<string>614068426482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meeyland.app</string>
	<key>PROJECT_ID</key>
	<string>meeyland</string>
	<key>STORAGE_BUCKET</key>
	<string>meeyland.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614068426482:ios:c3ddb64514d928b9ff226b</string>
	<key>DATABASE_URL</key>
	<string>https://meeyland.firebaseio.com</string>
</dict>
</plist>